$main-font-size: 16px;

$link: black;
$visited-link:   black;
$mouse-over-link: yellow; // po kliknięciu na mobile zostaje over link ??
$active-link: black;

$mobile-link: black;
$mobile-visited-link:  black;
$mouse-over-link: black; // po drugim klik na ten sam link kolor się zmieniał
$mobile-active-link: black;