@import "./reset";
@import "./fonts";
@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: $main-font-size;
}

.container {
  max-width: 1352;
  margin: 0 auto;
}
