@import "./reset";
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./elements/home";
@import "./elements/navigation";
@import "./elements/open";
@import '~video-react/styles/scss/video-react';
* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: $main-font-size;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.navigation__menu__link-a {
  color: #074e3c;
}
