@import "./reset";
@import "./fonts";
@import "./variables";
@import "./mixins";
@import "./elements/navigation";
@import "./elements/open";

* {
  box-sizing: border-box;
}

body {
  font-family: $main-font;
  font-size: $main-font-size;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

a:link {
  @include mobile {
    color: $mobile-link;
  }
  color: $link;
}

/* visited link */
a:visited {
  @include mobile {
    color: $mobile-visited-link;
  }
  color: $visited-link;
}

/* mouse over link */
a:hover {
  a:hover {
    color: $mouse-over-link;
  }
  color: $mouse-over-link;
}

/* selected link */
a:active {
  @include mobile {
    color: $mobile-active-link;
  }
  color: $active-link;
}
