@import "../scss/main.scss";
.container {
  @include mobile {
    .register {
      background-image: url("../assets/9527.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      position: relative;
      .register__form {
        @include centerer;
        display: flex;
        flex-direction: column;
        background: darken(#fff, 90%);
        opacity: 0.5;
        padding: px-rem(50);
        border-radius: px-rem(10);
        color: cornsilk;
      }
    }
  }
}
